# Shibboleth-Kompatibilität herstellen:
<IfModule !mod_authz_core.c>
# Apache 2.2
ShibCompatWith24 On
</IfModule>

AddType application/x-httpd-php .html .htm

AuthType shibboleth
ShibRequireSession On
# Require shib-attr afsgroup sontag:aigroup sontag:ai_student
Require shib-attr affiliation ~ ^.+@tu-chemnitz\.de$
# Require user fhamker sontag stj beuth fix

